In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [2]:
df  = pd.read_csv("Pokemon.csv")
df = pd.DataFrame(df)
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
df.drop(['Name', '#'], axis=1, inplace=True)
df

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Grass,Poison,525,80,82,83,100,100,80,1,False
3,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
#df_1 = df.values

In [5]:
Y = df['Type 1']
X = df.copy()
X.drop(['Type 1'], axis=1, inplace=True)

print(Y)
print(X)

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object
     Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  \
0    Poison    318  45      49       49       65       65     45           1
1    Poison    405  60      62       63       80       80     60           1
2    Poison    525  80      82       83      100      100     80           1
3    Poison    625  80     100      123      122      120     80           1
4       NaN    309  39      52       43       60       50     65           1
..      ...    ...  ..     ...      ...      ...      ...    ...         ...
795   Fairy    600  50     100      150      100      150     50           6
796   Fairy    700  50     160      110      160      110    110           6
797   Ghost    600  80     110       60      150      130     70           6
798    Dark    680  80     160       60      170      130     80           6
799   Water    600  80     110      120      130       90     70           6

     Legendary
0        False
1        False
2        False
3        False
4        False
..         ...
795       True
796       True
797       True
798       True
799       True

[800 rows x 10 columns]

In [6]:
model = KMeans(n_clusters=3)

In [7]:
model.fit(df)

ValueError: could not convert string to float: 'Water'